<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <p th:if="${param.error}">
        Invalid login or password
    </p>
    <form method="POST">
        <label>
            Login:
            <input type="text" id="username" name="username">
        </label>
        <label>
            Password:
            <input type="password" id="password" name="password">
        </label>
        <button type="submit">Login</button>
    </form>
    <p>Doesn't have account? <a th:href="@{/reg}">Registration</a></p>
</body>
</html>