<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work order</title>
    <link th:rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <div>
        <h1>Repair your car</h1>
    </div>
    <form method="post" th:object="${workOrder}" th:action="@{/work-order}">
        <label>
            Car manufacturer:
            <span class="validationError"
                  th:if="${#fields.hasErrors('carManufacturer')}"
                  th:errors="*{carManufacturer}">
              Error
            </span>
            <input type="text" th:field="*{carManufacturer}" placeholder="BMW"/>
        </label>
        <label>
            Car model:
            <span class="validationError"
                  th:if="${#fields.hasErrors('carModel')}"
                  th:errors="*{carModel}">
              Error
            </span>
            <input type="text" th:field="*{carModel}" placeholder="320d"/>
        </label>
        <label>
            Car manufacturing year:
            <span class="validationError"
                  th:if="${#fields.hasErrors('manufacturingYear')}"
                  th:errors="*{manufacturingYear}">
              Error
            </span>
            <input type="number" th:field="*{manufacturingYear}" placeholder="2019"/>
        </label>

        <div>
            <label>
                Car breakdowns:
                <span class="validationError"
                      th:if="${#fields.hasErrors('breakdowns')}"
                      th:errors="*{breakdowns}">
                        Error</span>
                <input type="checkbox" name="roles"
                       th:each="breakdownType : ${breakdownTypes}"
                       th:text="${breakdownType}"
                       th:value="${breakdownType}"
                       th:field="*{breakdowns}"/>
            </label>
        </div>
        <div>
            <label>
                Your name:
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">
                        Error
                    </span>
                <input type="text" th:field="*{name}" placeholder="Maxim Astashkin"/>
            </label>
        </div>
        <div>
            <label>
                Your credit card number:
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccNumber')}"
                      th:errors="*{ccNumber}">
                        Error
                    </span>
                <input type="text" th:field="*{ccNumber}" placeholder="1234 5678 9012 3456"/>
            </label>
        </div>
        <div>
            <label>
                Your credit card expiration:
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccNumber')}"
                      th:errors="*{ccExpiration}">
                        Error
                    </span>
                <input type="text" th:field="*{ccExpiration}" placeholder="05/22"/>
            </label>
        </div>
        <div>
            <label>
                Your credit card cvv:
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccCVV')}"
                      th:errors="*{ccCVV}">
                        Error
                    </span>
                <input type="text" th:field="*{ccCVV}" placeholder="123"/>
            </label>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>